body {
  font-family: Arial, sans-serif;
  background-color: #202020;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff;
}

#hexInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}

#output {
  margin-top: 20px;
  padding: 20px;
  background-color: #3535354b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color:#fff
}
